# Auto detect text files and perform LF normalization
* text=auto

# Java sources
*.java text eol=lf
*.gradle text eol=lf

# Scripts
*.bat text eol=crlf
*.sh text eol=lf
*.ps1 text eol=crlf

# Config files
*.properties text eol=lf
*.json text eol=lf
*.lang text eol=lf
*.info text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.jar binary
*.zip binary
*.class binary
